/*Banner*/

.carousel-caption
{
   position:absolute;
   top:50%;
   transform: translateY(-50%);
}

.carousel-caption h1
{
  font-size: 400%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption p
{
  font-size: 200%;
  font-weight: 300;
  text-shadow: 1px 1px 10px #000;
}

/* About us  */
.lead
{
    text-align:justify;
}

.aboutcontainer
{
    margin-bottom: 100px;
    margin-top: 100px;
}